# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.turbo
out

# Environment
.env
.env.local
.env.*.local
!.env.example

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Testing
coverage

# Prisma
prisma/*.db
prisma/*.db-journal

# Debug
npm-debug.log*
pnpm-debug.log*

# Misc
*.tsbuildinfo
.eslintcache
.gitnexus
